@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Tech Blvd.<br />
    Cleveland, OH 44115<br />
    <abbr title="Phone">P:</abbr>
    216.555.1234
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@LawsonTech.edu">Support@LawsonTech.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@LawsonTech.edu">Marketing@LawsonTech.edu</a>
</address>